.uk-position-relative.uk-slider.uk-slider-container.big-slider(uk-slider="autoplay: true;")
    ul.uk-slider-items.uk-child-width-1-1.big-slider__list
        each item in slides
            li.big-slider__item(style=item.backgroundImg?"background-image: url('" + item.backgroundImg + "')":""
                class=item.backgroundImg?"big-slider__item--img":"")
                .big-slider__wrap
                    .uk-container.uk-position-relative
                        if item.image
                            .big-slider__image
                                img(src=item.image alt=item.title)
                        .big-slider__content
                            if item.before
                                .big-slider__before!=item.before
                            .big-slider__title!=item.title
                            if item.text
                                .big-slider__text!=item.text
                            if item.after
                                .big-slider__after!=item.after
                            if item.btns
                                .uk-grid.uk-grid-small.big-slider__btns(uk-grid)
                                    each btn in item.btns
                                        div
                                            a.uk-button.uk-button-primary(href=btn.url)!=btn.title
                if item.url
                    a.big-slider__link(href=item.url)

    .uk-position-relative.uk-container
        ul.uk-slider-nav.uk-dotnav.big-slider__nav
